* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    color: #333;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    }

body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.main {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.bold {
    font-weight: 600;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.under-title {
    max-width: 120px;
    margin-top: 16px;
}

.list {
    list-style: none;
}
.vertical-line {
    width: 1px;
    height: 30px;
    background-color: rgba(197, 191, 191, 0.5);
    margin: auto;
}

.overlay,
#overlay_invisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* display: none; */
    z-index: 2;
}

.breadcrumb {
    position: absolute;
    font-size: 18px;
    font-weight: 510;
    top: 160px;
    left: 0;
    right: 0;
}

.breadcrumb a:hover {
    color: #e74c3c;
}
 /* Heading */
.heading {
    height: 80px;
    line-height: 77px;
    background-color: rgba(0, 0, 0, 0.68);
    display: flex;
    border-bottom: 1px solid #e74c3c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.heading-container {
    width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.heading img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: -8px;
}
.heading__logo {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.heading__nav {
    display: flex;
}

.heading__nav-list > li {
    display: inline-block;
    color: #fff;
}

.heading__nav-list > li > a {
    font-size: 14px;
    margin: 0 20px;
    display: inline-block;
}

.heading__nav-item > a:hover,
.heading__nav-item a.here {
    color: #e74c3c;
    border-bottom: 3px solid #e74c3c;
}

.heading__nav-item ul li i {
    padding: 5px;
    font-size: 12px;
}

#heading__menubar {
    color: #e74c3c;
    right: 0;
    display: none;
    cursor: pointer;
}

#heading__menubar i {
    font-size: 24px;
    padding: 5px 8px;
    border: 1px solid #e74c3c;
    border-radius: 5px;
}

.heading__nav-mobile {
    padding: 0 20px;
    border-top: 2px solid #fff;
    display: none;
    z-index: 2;
}

.heading__nav-mobile ul > li > a {
    font-size: 14px;
    margin: 0 20px;
    display: inline-block;
}

.heading__nav-item {
    position: relative;
}

.sub-heading__nav {
    border-top: 1px solid #e74c3c;
    display: none;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.68);
    line-height: 40px;
    width: 170px;
}

.sub-heading__nav li{
    border-bottom: 1px solid #000;
    text-align: center;
}

.sub-heading__nav a {
    font-size: 14px;
}

.sub-heading__nav li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.sub-heading__nav li:hover a {
    color: #e74c3c;
}
.heading__nav-item:hover > .sub-heading__nav {
    display: block;
}

#user-avt {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}
/*Container */
.home-container {
    width: 100%;
    background-color: #fff;
    display: none;
}
.home-container.show {
    display: block;
}

/*Slider*/
.slider {
    background: url(../img/slider-1.jpg) top center / cover no-repeat;
    padding: 30px 0;
    position: relative;
    padding-top: 260px;
    /* animation: slide 10s ease-in-out forwards; */
}

.slider__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 200px;
    position: relative;
    opacity: 0;
    animation: appear-bottom 5s 3 forwards;
}

@keyframes appear-bottom {
    0%{
        opacity: 0;
        bottom: -200px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.button,
.button-disable {
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 18px 34px;
    border-radius: 50px;
    min-width: 160px;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}

.button {
    background-color: #e74c3c;
}
.button-disable {
    background-color: #e66e61;
}

.button:hover,
.shop__button:hover {
    color: #e74c3c;
    cursor: pointer;
}

.button:before,
.shop__button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    opacity: 0;
    content: "";
    border: 1px solid #e74c3c;
    color: #e74c3c;
    background-color: #fff;
    border-radius: 50px;
}

.button:hover:before,
.shop__button:hover:before {
    transition: 0.1s all ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
}

/*Welcome */

.welcome-container {
    padding: 130px 0;
    padding-bottom: 70px;
}

.welcome__title {
    text-align: center;
    margin-bottom: 50px;
}

.welcome-item {
    text-align: center;
}

.welcome-item__img {
    margin-bottom: 16px;
}

.welcome-item__text {
    font-weight: 600;
}

/*Download*/
.download {
    background: url(../img/background-download.jpeg) top center / cover no-repeat;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    padding: 100px 0;
    padding-bottom: 30px;
    height: auto;
    color: #fff;
}

.download-container {
    opacity: 1;
}

.download__title {
    font-weight: normal;
    font-size: 45px;
}

.download__img {
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.download__img img {
    height: 100%;
}

.download__features-item {
    max-width: 550px;
    padding: 20px;
    background-color: #343e43;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#download__features-item-2,
#download__features-item-3 {
    display: none;
}

.download__icon {
    padding: 20px 18px;
    margin-right: 20px;
    color: #fff;
    background-color: #e74c3c;
    border-radius: 50%;
}

.download__desc {
    padding-left: 0;
    line-height: 2;
}

.download__os {
    display: flex;
}

.download-item {
    padding: 70px 0;
    margin-right: 40px;
}

.download-item a {
    font-size: 38px;
    padding: 35px 40px;
}

/* Step */
.step-container,
.contact__info {
    padding: 130px 0;
    padding-bottom: 70px;
}

.step__title,
.contact__title {
    text-align: center;
    margin-bottom: 50px;
}

.step-item,
.contact-item {
    text-align: center;
}

.step-item__title,
.contact-item__title {
    font-weight: 600;
    font-size: 20px;
}
/* Footer */
.footer {
    background-color: #2e3c43;
    color: #fff;
    padding: 60px 0;
}

.footer__item {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.footer__text {
    text-align: justify;
}

.footer__list {
    list-style: none;
}

.footer__list li {
    padding-bottom: 15px;
}
.footer__list li + li {
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.footer__list a {
    display: flex;
    justify-content: space-between;
}

.footer__item-title {
    margin-bottom: 20px;
}

.footer__input {
    padding: 18px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: 0;
    font-size: 16px;
    font-family: inherit;
    flex: 1;
}

.footer__button {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    flex: 0.1;
}

.footer__input-button {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

/* Log in & Register Form */
.start-form {
    position: absolute;
    top: 0;
}
.form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.form {
    background-color: #fff;
    border: 8px solid #e74c3c;
    border-radius: 10px;
    padding: 0 30px;
    padding-top: 38px;
    line-height: 46px;
    margin-top: 30px;
}

.form__close {
    z-index: 2;
    cursor: pointer;
}

.form__close i {
    color: #fff;
    background-color: #e74c3c;
    padding: 7px 9px;
    border-radius: 50%;
    margin-left: 12px;
}

.form__title {
    text-align: center;
    margin-bottom: 20px;
}

.form__input {
    color: #444;
    background-color: #eee;
    border: none;
    line-height: 46px;
    padding: 0 30px;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.form__input:focus {
    border: 1px solid #e74c3c;
    outline: 0;
}

.form__input.invalid {
    border: 1px solid #e74c3c;
}
.form__input::placeholder {
    color: #444;
}

.invalidFeedback {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #e74c3c;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    display: block;
}
/* Registration Form */
.registration {
    width: 100%;
    max-width: 72%;
    z-index: 2;
}

#register-button {
    margin-bottom: 20px;
}
body.showForm .overlay {
    display: block;
}

body.showRegistrationForm .registration {
    top: 200%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body.showRegistrationForm .form__close {
    top: -100%;
    left: 86%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.registration__img {
    line-height: 0;
    padding-top: 68px;
}

.registration-container {
    padding: 0 10px;
    padding-left: 46px;
}
.registration-form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.registration-form__submit,
.login-form__submit {
    display: flex;
    justify-content: space-between;
}

/* Login Form */

.login {
    z-index: 2;
}
/*Open Login Form*/

body.showForm .overlay {
    display: block;
}

body.showLoginForm .login {
    top: 100%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body.showLoginForm .form__close {
    top: -60%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.login-container{
    margin-bottom: 50px;
}

.login-with {
    flex: 1;
    justify-content: space-around;
    text-align: right;
    margin-left: 14px;
}

.login-with__facebook,
.login-with__google {
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    margin-left: 14px;
}

.login-with__facebook {
    padding: 7px 11px;
    background-color: #1877f2;
}

.login-with__google {
    background-color: #e74c3c;
    padding: 7px 6px;
}


/* Blog Page */

#blog-container {
    width: 100%;
    background-color: #fff;
    display: block;
}

#blog-container.show {
    display: block;
}

.blog__head,
.contact__head {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)), url(../img/member.jpg) top center / cover no-repeat;
    min-height: 312px;
    position: relative;
    text-align: center;
    color: #fff;
}

.page-title {
    display: flex;
    justify-content: center;
}

.page-title img {
    height: 12px;
    margin: 0 20px;
    margin-top: 36px;
}

.blog__list {
    padding: 80px 0;
}

.blog-item {
    padding: 0 8px;
    margin-bottom: 56px;
}
.blog__img {
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    line-height: 0;
}

.blog__action {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 34px 0;
    padding-top: 100px;
    background: linear-gradient(transparent, #000);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.25s;
}

.blog__action > *,
.member__action > * {
    transform: translateY(40px);
    transition: transform 0.25s;
}

.blog__img:hover .blog__action > *,
.member__img:hover .member__action > * {
    transform: translateY(0);
}

.blog__img:hover .blog__action,
.member__img:hover .member__action {
    opacity: 1;
}

.blog__action .list li {
    display: inline-block;
    margin: 0 14px;
}

.blog__action a:hover i {
    color: #e74c3c;
}
.blog__img img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
}

.blog__info {
    display: flex;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blog__author,
.blog__time {
    border-right: 1px solid #333;
}

.blog__author {
    padding-right: 12px;
}

.blog__author a {
    color: #2e3c43;
}

.blog__time {
    padding: 0 12px;
}

.blog__field {
    padding-left: 12px;
}

.blog__desc {
    border-top: 1px solid #999;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.blog__read {
    border: none;
    background-color: #fff;
    color: #e74c3c;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    margin-top: 10px;
}

.blog__read:hover {
    cursor: pointer;
    color: #333;
}

.blog__footer,
.shop__footer {
    float: right;
    text-align: right;
    padding: 0 16px;
}

.blog__footer-previous,
.blog__footer-next,
.shop__footer-previous,
.shop__footer-next {
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    margin: -1px;
    outline: 0;
}

.blog__footer-previous:hover,
.blog__footer-next:hover,
.shop__footer-previous:hover,
.shop__footer-next:hover  {
    color: #e74c3c;
    cursor: pointer;
}

.blog__footer-previous i,
.blog__footer-next i,
.shop__footer-previous i,
.shop__footer-next i {
    background-color: #333;
    color: #fff;
    font-size: 10px;
    padding: 10px 14px;
}

.blog__footer-previous i:hover,
.blog__footer-next i:hover,
.shop__footer-previous i:hover,
.shop__footer-next i:hover {
    background-color:#e74c3c;
}


.blog__footer-previous i,
.shop__footer-previous i {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 5px;
}

.blog__footer-next i,
.shop__footer-next i {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 5px;
}

.pagination {
    list-style: none;
}

.page-item {
    display: inline-block;
    
}

.page-item a {
    color: #000;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

/* Begin blog detail */
#post-container {
    padding-top: 80px;
    width: 100%;
    background-color: #fff;
    display: block;
    color: #5f7d95;
    line-height: 1.6;
}

.pad-20 {
    padding: 0 28px;
}


.post__header {
    text-align: center;
}

.post__header h2 {
    margin: 20px 0;
    color: #374957;
    line-height: 1.4;
}

.post-item {
    padding-top: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #e3e9ed;
}

.post-item__img img {
    width: 100%;
    height: 100%;
}

.post__info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.post__info .post__category {
    color: #e74c3c;
    font-weight: 500;
    text-transform: uppercase;
}

.post__author a {
    color: #374957;
    font-weight: 600;
}

.post__author:hover a {
    color: #e74c3c;
}

.post__body {
    margin-bottom: 20px;
}

.post__more {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.post__more .post__author {
    margin-top: 5px;
}

.post__more .post__share {
    display: flex;
}

.post__more .post__share span {
    padding: 3px;
    text-transform: uppercase;
}

.post__more .post__share ul {
    list-style: none;
    display: flex;
}

.post__more .post__share li i {
    padding: 9px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    box-sizing: content-box;
}

.related-posts h3,
.comments-container h3 {
    margin: 20px 0;
}

.related-posts-list {
    margin-bottom: 30px;
}

/* .mg-auto {
    display: flex;
    justify-content: space-between;
} */

.related-posts-item {
    width: 300px;
    height: 440px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgb(95 125 149 / 25%);
}

.related-posts__img img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
}

.related-posts__content {
    padding: 20px;
}

.related-posts__content a {
    color: #e74c3c;
}

.related-posts__content a:hover {
    color: #c22d1c;
}

.related-posts__content h2 {
    padding: 10px 0;
    font-size: 20px;
}

.related-posts__content h2 a {
    color: #374957;
}

.related-posts__content h2 a:hover {
    color: #e74c3c;
}

.related-posts__category{
    color: #e74c3c;
}

.related-posts__info {
    display: flex;
    justify-content: space-between;
}

.related-posts__info {
    font-size: 14px;
}

.related-posts__title a,
.related-posts__info a {
    color: #374957;
    font-weight: 700;
}

.comments-login {
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #e3e9ed;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    display: block;
}

.comments-login .signup-btn {
    color: #374957;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.comments-login .signup-btn:hover {
    color: #e74c3c;
}

.comments-login p {
    margin-bottom: 10px;
}

.comments-login .signin-btn {
    padding: 5px 20px;
    box-shadow: inset 0 0 0 1px #869fb2;
    color: #869fb2;
    border-radius: 3px;
}

.comments-login .signin-btn:hover {
    color: #fff;
    background-color: #e74c3c;
}

.comments-form form textarea {
    padding: 20px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 40px rgb(95 125 149 / 25%);
}

.comments-form form {
    margin-bottom: 30px;
}

.comments-form form .submit-btn {
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    box-shadow: inset 0 0 0 100px #1273eb;
}

.comments-form form .submit-btn:hover {
    box-shadow: inset 0 0 0 100px #0e5cbc;
}

.comments-list {
    padding: 8px;
}

.comments-item {
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(95 125 149 / 25%);
}

.comments-item__info {
    display: flex;
    margin-bottom: 10px;
}

.comments-item__info a {
    height: auto;
}

.comments-item__info img {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.comments-item__more {
    padding: 0 5px 0 10px;
}

.comments-item__more a {
    color: #374957;
}

.blog_detail__sidebar {
    padding: 4px 0;
    background-color: #fff;
}

.blog_detail__sidebar h3 {
    margin-bottom: 20px;
    color: #374957;
}

.sidebar-list {
    background-color: #fff;
    box-shadow: 0 0 40px rgb(95 125 149 / 25%);
}

.sidebar-list .sidebar-item {
    margin-bottom: 10px;
}

.sidebar-list .sidebar-item__content {
    padding: 10px;
}

.sidebar__img img {
    width: 100%;
    height: 100%;
}

.sidebar__author a{
    color: #1273eb;
}

.sidebar__title a{
    color: #374957;
    font-weight: 600    ;
}

.sidebar__title a:hover {
    color: #1273eb;
}
/* End blog detail */


/* Members Page */
#members-container,
#waiting-container,
#matches-container {
    width: 100%;
    background-color: #fff;
    display: none;
}

#members-container.show,
#waiting-container.show,
#matches-container.show {
    display: block;
}

.members__head,
.waiting__head {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)), url(../img/member.jpg) top center / cover no-repeat;
    min-height: 450px;
    height: auto;
    position: relative;
    text-align: center;
    color: #fff;
}
.waiting__head {
    min-height: 312px;
}
.seeking {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.seeking-form {
    color: #333;
    background-color: #fff;
    max-width: 86%;
    margin: auto;
    padding: 30px;
    border-radius: 100px;
    font-size:18px;
}

.seeking-form__select {
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 50px;
    outline: 0;
    padding: 18px;
    margin: 0 20px;
    min-width: 116px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
}

#slider {
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 
 #slides {
    position: relative;
    z-index: 1;
 }

 .slide-content h2 {
     color: #e74c3c;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }
 
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 100px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

 #controls {
    margin: -60px 0 0 0;
    width: 100%;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 20px;
    height: 20px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }

 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 60px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 .step {
    margin-top: 38px;
    font-size: 19px;
 }

.members-list {
    padding: 80px 0;
    text-align: center;
}

.members__find-step {
    font-size: 18px;
}

.members__find-step-item {
    display: flex;
    border-radius: 10px;
}

.members__find-step-item i {
    color: #e74c3c;
    font-size: 60px;
    margin-right: 30px;
}

/*Member*/
.member-item {
    margin-bottom: 40px;
}

.member__img {
    position: relative;
    border: 4px solid #ccc;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
    width: 214px;
    height: 214px;
}
.member__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member__action {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e74c3c;
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.member__img:hover img{
    opacity: 0.8;
    cursor: pointer;
}

.member__name {
    font-weight: 600;
}
/*Member Profile*/
#profile-container,
#waiting-profile-container,
#matches-profile-container {
    width: 100%;
    background-color: #fff;
    display: none;
}

#profile-container.show,
#waiting-profile-container.show,
#matches-profile-container.show {
    display: block;
}

.profile__banner {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)), url(../img/member-profile-cover.jpg) top center / cover no-repeat;
    min-height: 422px;
    padding-top: 200px;
    max-height: 422px;
    height: auto;
    color: #fff;
}

.profile__banner-left,
.profile__banner-right {
    display: flex;
    bottom: 0;
}

.profile__avatar {
    position: relative;
}
.profile__avatar img {
    max-height: 260px;
    min-height: 300px;
    min-width: 260px;
    border-radius: 50%;
    border: 8px solid #eee;
}

.profile__avatar i {
    align-self: flex-end;
    font-size: 30px;
    padding: 10px;
    color: #333;
    background-color: #eee;
    border-radius: 50%;
    position: absolute;
    bottom: 26px;
    right: 26px;
    cursor: pointer;
}

.profile__user-info {
    margin-top: 120px;
    margin-left: 40px;
}

.user__age,
.user__address {
    float: left;
}

.user__age {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.user__address {
    padding-left: 10px;
}

.profile__banner-right {
    margin-top: 130px;
    justify-content: flex-end;
}

.profile__banner-right .button, 
.profile__banner-right .button-disable {
    margin: 10px;
}

.profile__detail {
    margin: 120px 0;
}

.profile-list {
    margin-top: 30px;
}

.profile-list li{
    padding-left: 10px;
    margin-top: 14px;
}

.profile__detail-info {
    padding-left: 15px;
}

.profile__basic-info {
    border: 2px solid #999;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    padding: 8px 28px;
}

.profile__intro {
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #999;
    border-radius: 5px;
}

.profile__photos {
    padding: 0 20px;
}


.profile__photo-item img {
    max-width: 100%;
    max-height: 110px;
    border-radius: 5px;
    margin: 10px ;
    cursor: pointer;
}

#profile__photo-add {
    background-color: #eee;
    min-height: 110px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

#profile__photo-add i {
    font-size: 30px;
    padding: 10px 12px;
    border-radius: 50%;
}

#profile__photo-add:hover i {
    background-color: #e74c3c;
    color: #fff;
}

.like-button {
    position: absolute;
    top: 0;
}

/*Shop*/
#shop-container {
    width: 100%;
    background-color: #fff;
    display: none;
}

#shop-container.show {
    display: block;
}

.shop__slider {
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)), url(/public/img/member.jpg) top center / cover no-repeat;
    min-height: 312px;
    position: relative;
    text-align: center;
    color: #fff;
}

.shop__nav {
    position: absolute;
    bottom: -26px;
    right: 90px;
}

.shop__button {
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    padding: 20px;
    border-radius: 50px;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
    margin: 0 10px;
}
.shop__content {
    padding: 80px 0;
}

.product-item {
    padding: 0 8px;
    margin-bottom: 56px;
}
.product__img {
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    line-height: 0;
}

.product__img img {
    width: 100%;
    max-width: 100%;
    height: 260px;
    border-radius: 5px;
}

.product__info {
    display: flex;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product__action {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 34px 0;
    padding-top: 100px;
    background: linear-gradient(transparent, #000);
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.25s;
}

.product__action > * {
    transform: translateY(40px);
    transition: transform 0.25s;
}

.product__img:hover .product__action > * {
    transform: translateY(0);
}

.product__img:hover .product__action{
    opacity: 1;
}

.product__action .list li {
    display: inline-block;
    margin: 0 14px;
}

.product__action a {
    padding: 15px;
    background-color: #e74c3c;
    border-radius: 50%;
}

.product__action a:hover {
    background-color: #343e43;
}

.product__title {
    text-align: center;
}

.product__cost {
    margin: auto;
    font-size: 20px;
}

/*Waiting page */
.waiting-container,
.matches-container {
    display: none;
}

.waiting-container.show,
.matches-container.show {
    display: block;
}

/*Contact us*/
.contact-form {
    padding-top: 100px;
    padding-bottom: 50px;
}

#contact-form__message {
    height: 84%;
}

.contact-form__submit {
    text-align: right;
    margin-top: 18px;
}

.setup-container {
    margin-top: 150px;
    text-align: center;
}

.setup-container h2 {
    margin-bottom: 40px;
}
.setup-container img {
    max-width: 200px;
    margin-bottom: 50px;
}

.setup__input {
    max-width: 26%;
    padding: 10px;
    margin-bottom: 20px;
}

.setup__note {
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.setup__note i {
    margin-right: 10px;
}

.setup__button button {
    margin: 20px 40px;
    padding: 10px;
    min-width: 130px;
}

.setup__step {
    display: none;
}

.setup__step.show {
    display: block;
}

/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.login-with button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.setup__language {
    display: flex;
    justify-content: center;
}

.avatar-icon {
    padding: 5px;
    margin-right: 5px;
    color: red;
    background-color: #fff;
    border-radius: 50%;
}

#countryError,
#stateError,
#cityError {
    text-align: center;
    color: #fff;
}

#profileDisplay {
    border-radius: 50%;
    cursor: pointer;
}

#overlay_invisible {
    display: none;
}

#form-container-photo,
#open-photo{
    margin-top: 400px;
    display: none;
}

#change-avt {
    z-index: 2;
    display: none;
}

#photo {
    justify-content: center;
}

#photo img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
}

#open-photo img {
    z-index: 2;
}
#add_photo {
    z-index: 2;
    padding: 0;
    padding-top: 30px;
}

#add_photo-form {
    text-align: center;
}

#add_photo a {
    color: #e74c3c;
    text-decoration: underline;
}

.suggestion,
.add_photo-form-submit {
    text-align: center;
    margin-top: 30px;
    background-color: #FFE4C4;
    padding: 30px;
}

.add_photo-form-submit {
    padding: 30px 130px;
}

.suggestion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion__item img {
    max-width: 100px;
    border-radius: 5px;
    max-height: 100px;
}

.suggestion__item i {
    margin: 10px;
    color: rgb(43, 97, 214);
}

.suggestion__item p {
    line-height: 1;
    text-align: center;
    margin-top: 10px;
}

.add_photo-form-submit {
    display: none;
}

#photo_upload {
    max-width: 300px;
    max-height: 300px;
}

#change-avt-form {
    text-align: center;
}
.change-avt-submit {
    margin-bottom: 30px;
    display: none;
}

.change-avt-submit img {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

.change-avt__button {
    text-align: center;
    margin-bottom: 30px;
    min-width: 400px;
}

.change-avt__button button {
    margin-top: 10px;
    min-width: 300px;
}

.uploaded-photos {
    margin-top: 30px;
    max-width: 500px;
}
.profile-edit-button {
    float: right;
    font-weight: 700;
}

.profile-title {
    display: flex;
    justify-content: space-between;
}

.form-row {
    display: flex;
    line-height: 1;
    margin-top: 20px;
}


/* Begin messages */

#message-container,
#chat-container {
    margin-top: 80px;
    max-height: 800px;
    height: 95vh - 40px;
    border-radius: 3px;
}

.message-list {
    box-shadow: 0 0 40px rgb(95 125 149 / 25%);
}

#message-container .message-item,
#chat-container .chat-item {
    height: 95vh;
    margin: 0 -8px;
    border-radius: 5px 0 0 5px;
}

#message-container .search-container,
#message-container .conversation-container {
    padding: 10px 30px; 
}

#message-container .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #ccc;
}

#message-container .search-container span {
    font-size: 18px;
}

#message-container .search-container input{
    position: absolute;
    width: calc(100% - 110px);
    height: 42px;
    border: 1px solid #ccc;
    padding: 0 14px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

#message-container .search-container input.active {
    opacity: 1;
    pointer-events: auto;
}

#message-container .search-container button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

#message-container .search-container button.active {
    color: #fff;
    background-color: #333;
}

#message-container .search-container button.active i::before {
    content: "\f00d";
}

.conversation-container {
    max-height: calc(95vh - 117px);
    overflow-y: auto;
}

.conversation-container p {
    text-align: center;
}

.conversation-container .conversation-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.conversation-container .conversation-item p {
    text-align: center;
}

.conversation-container .conversation-item:last-child {
    border-bottom: none;
}

.conversation-container a {
    padding-right: 15px;
    padding-bottom: 20px;
}

.conversation-container .conversation-content {
    display: flex;
    align-items: center;
}

.conversation-container img,
.chat-title__content img {
    margin-right: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.conversation-container .conversation__detail {
    color: #000;
}

.conversation-container .conversation__detail span {
    font-weight: 600;
}

.conversation-container .conversation__detail p {
    color: #67676a;
}


/* Begin chat */
.chat-title__content {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.chat-title__content span {
    font-weight: 600;
}

.chat-title {
    background-color: #ccc;
}

.chat-title__detail {
    width: calc(100% - 52px - 10px);
}

.chat-title__detail span {
    font-size: 16px;
}

.chat-title__detail p {
    font-size: 14px;
}

#chat-box {
    padding: 10px 30px 20px 30px;
    overflow-y: auto;
    background-color: #f7f7f7;
    height: calc(100% - 64px - 50px);
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 32px -32px -32px rgb(0 0 0 / 5%);
}

#chat-box .chat {
    margin: 15px 0;
}

#chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px rgb(0 0 0 / 10%);
}

#chat-box .outgoing {
    display: flex;
}

#chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 180px);
}

#chat-box .outgoing .details p {
    background-color: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    padding: 12px;
}

#chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

#chat-box .incoming img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#chat-box .incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 180px);
}

#chat-box .incoming .details p {
    border-radius: 18px 18px 18px 0;
    padding: 12px;
    color: #333;

}
.typing-area input {
    height: 49px;
    width: calc(100% - 60px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    height: 49px;
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

/* End messages */
.form-row {
    display: flex;
    line-height: 1;
    margin-top: 20px;
}

#online-members {
    max-height: 300px;
    overflow: hidden;
}